
# Environment
/.idea/
idea.zip
/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_7.zip

# Image folders
/workspace/training_demo/merged_images/
/workspace/training_demo/new_image/

# Annotations
*.record

# Tensorflow Object Detection API
/models/

# Exported model folders
/workspace/training_demo/exported-models/my_model/*
!/workspace/training_demo/exported-models/my_model/*.config
/workspace/training_demo/exported-models/my_model_1/*
!/workspace/training_demo/exported-models/my_model_1/*.config
workspace/training_demo/exported-models/my_model_2/*
!/workspace/training_demo/exported-models/my_model_2/*.config
/workspace/training_demo/exported-models/my_model_3/*
!/workspace/training_demo/exported-models/my_model_3/*.config
/workspace/training_demo/exported-models/my_model_4/*
!/workspace/training_demo/exported-models/my_model_4/*.config
/workspace/training_demo/exported-models/my_model_5/*
!/workspace/training_demo/exported-models/my_model_5/*.config
/workspace/training_demo/exported-models/my_model_6/*
!/workspace/training_demo/exported-models/my_model_6/*.config
/workspace/training_demo/exported-models/my_model_7/*
!/workspace/training_demo/exported-models/my_model_7/*.config
/workspace/training_demo/exported-models/my_model_8/*
!/workspace/training_demo/exported-models/my_model_8/*.config
/workspace/training_demo/exported-models/my_model_9/*
!/workspace/training_demo/exported-models/my_model_9/*.config
/workspace/training_demo/exported-models/my_model_10/*
!/workspace/training_demo/exported-models/my_model_10/*.config
/workspace/training_demo/exported-models/my_model_11/*
!/workspace/training_demo/exported-models/my_model_11/*.config
/workspace/training_demo/exported-models/my_model_12/*
!/workspace/training_demo/exported-models/my_model_12/*.config
/workspace/training_demo/exported-models/my_model_13/*
!/workspace/training_demo/exported-models/my_model_13/*.config
/workspace/training_demo/exported-models/my_model_14/*
!/workspace/training_demo/exported-models/my_model_14/*.config
/workspace/training_demo/exported-models/my_model_15/*
!/workspace/training_demo/exported-models/my_model_15/*.config
/workspace/training_demo/exported-models/my_model_16/*
!/workspace/training_demo/exported-models/my_model_16/*.config
/workspace/training_demo/exported-models/my_model_17/*
!/workspace/training_demo/exported-models/my_model_17/*.config
/workspace/training_demo/exported-models/my_model_18/*
!/workspace/training_demo/exported-models/my_model_18/*.config
/workspace/training_demo/exported-models/my_model_19/*
!/workspace/training_demo/exported-models/my_model_19/*.config
/workspace/training_demo/exported-models/my_model_20/*
!/workspace/training_demo/exported-models/my_model_20/*.config
/workspace/training_demo/exported-models/my_model_21/*
!/workspace/training_demo/exported-models/my_model_21/*.config
/workspace/training_demo/exported-models/my_model_22/*
!/workspace/training_demo/exported-models/my_model_22/*.config

# Trained model folders
/workspace/training_demo/models/my_ssd_resnet50_v1_fpn/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn/*.config
/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_1/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_1/*.config
/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_2/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_2/*.config
/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_3/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_3/*.config
/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_4/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_4/*.config
/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_5/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_5/*.config
/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_6/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_6/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_7/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_7/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_8/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_8/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_9/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_9/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_10/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_10/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_11/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_11/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_12/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_12/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_13/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_13/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_14/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_14/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_15/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_15/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_16/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_16/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_17/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_17/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_18/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_18/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_19/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_19/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_20/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_20/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_21/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_21/*.config
workspace/training_demo/models/my_ssd_resnet50_v1_fpn_22/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_22/*.config

# Pre-trained model folders
/workspace/training_demo/pre-trained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/*
!/workspace/training_demo/pre-trained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/*.config



