/models/
/workspace/training_demo/exported-models/my_model/*
!/workspace/training_demo/exported-models/my_model/*.config
/workspace/training_demo/exported-models/my_model_1/*
!/workspace/training_demo/exported-models/my_model_1/*.config
/workspace/training_demo/models/my_ssd_resnet50_v1_fpn/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn/*.config
/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_1/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_1/*.config
/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_2/*
!/workspace/training_demo/models/my_ssd_resnet50_v1_fpn_2/*.config
/workspace/training_demo/pre-trained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/*
!/workspace/training_demo/pre-trained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/*.config

